.app-container {
  width: 1440px;
  height: 1832px;
  color: #FCFAF9;
  position: relative;
  background-image: url(https://github.com/Clara-Pacheco/Front_end_mentor--project02--Equalizer-landing-page/blob/main/assets/bg-main-desktop.png);
  box-shadow: 0 4px 4px #F2F2F2 ;
  
}