.app-container {
  width: 1440px;
  height: 1832px;
  color: #FCFAF9;
  position: relative;
  background-image:url(../assets/bg-main-desktop.png);
  background-position: top;
  box-shadow: 0 4px 4px #F2F2F2 ;
  
}